@page
@model LinksModel
@{
    ViewData["Title"] = "Links";
}

<h1>@ViewData["Title"]</h1>

@foreach (var item in @Model.Links)
{
    <div class="card margin-bottom">
        <div class="card-body">
            <span class="badge badge-pill badge-secondary float-right">@item.VisitCount visit@(item.VisitCount != 1 ? "s" : "")</span>
            <div class="link"><a href="/edit/@item.Code">@Model.Request.Host/@item.Code</a></div>
            &rarr; <em>@item.Url</em>
        </div>
    </div>
}