@page
@model LinksModel
@{
    ViewData["Title"] = "Links";
}

<h1>@ViewData["Title"]</h1>

@foreach (var item in @Model.Links)
{
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-body">
            <span class="badge badge-pill badge-secondary" style="float: right;">@item.VisitCount visit@(item.VisitCount != 1 ? "s" : "")</span>
            <div style="font-size: 2em;"><a href="/edit/@item.Code">@item.Code</a></div>
            <em>@item.Url</em>
        </div>
    </div>
}